@{
    ViewData["Title"] = "Create Erros";
}

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="CreateError" asp-action="Link">Link</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="CreateError" asp-action="ThrowException">Throw Exception</a>
</div>
